@import '../../sass-utils';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.block {
  @include elevation;
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
}

.svg {
  height: 100%;
  width: 100%;
}