@import '~utils/constants';

@mixin player {
  background-repeat: no-repeat;
  background-size: auto;
  height: 30px;
  width: 30px;
}

.playerBlock {
  align-items: center;
  background-color: $foreground-color;
  border: 2px solid transparent;
  border-radius: $border-radius;
  box-shadow: $shadow;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;

  &:not(:first-child) {
    margin-left: 50px;
  }

  &:hover,
  &:focus {
    border-color: $foreground-color-hover;
    box-shadow: $shadow-higher;
    outline: 0;
  }

  .ghost {
    @include player;
    background-image: url('../../../assets/00_blinky_sprites.png');
  }

  .pacman {
    @include player;
    background-image: url('../../../assets/00_pacman_sprites.png');
  }

  &.selected {
    border-color: $active-color;
    box-shadow: $shadow-higher;
  }
}
